*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo{
    float: left;
    padding-bottom: 10px;
    margin-left:30px;

}
ul{
    display: flex;
    text-decoration: none;
   
    
}
li{
    list-style-type: none;
    padding-right: 10px;
    margin-top: 30px;
    color: grey;
    font-weight: 50px;
    
}
a{
    text-decoration: none;
    color: grey;
}
nav{
    float: right;
    margin-right: 10%;
}
.navbar{
    height: 50px;
    max-width: 100%;
    position: sticky;
}

input{
    border-radius: 4px;
    margin-top: 25px;
    border-color: grey;;
    height: 25px;
}
